{% extends "TinyUrlMainBundle::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
        {{ form_start(form) }}
        {{ form_row(form.longUrl) }}
        {{ form_row(form.valider) }}
        {{ form_end(form) }}
    </div>

</div>

    <div class="row">
        <div class="offset-3 col-6">
            <div class="tab">
                <ul>
                    <li class="active" id="lastAdded"><a href="#">Derniers liens ajoutés</a></li>
                    <li id="popularLinks"><a href="#">Liens les plus populaires</a></li>
                </ul>
            </div>

            <div class="ajaxTables">
                <table class="table table-hover lastLinks">
                    <thead>
                    <tr>
                        <th class="col-4">URL</th>
                        <th class="col-4">ShortCode</th>
                        <th class="col-4">Crée le</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for element in lastAddedLinks %}
                        <tr>
                            <td>{{ element.longUrl }}</td>
                            <td><a href="{{ path('tiny_url_main_redirect', {'shortcode': element.shortCode}) }}">{{ element.shortCode }}</a></td>
                            <td>{{ element.createdAt|date('d-m') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}