<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}TinyUrl{% endblock %}</title>
    <!-- CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/tinyurlmain/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/tinyurlmain/css/custom.css') }}">
    {% endblock %}
</head>

<body>
    {#FLASH MESSAGES#}
    {% for message in app.flashes("error") %}
        <div class="alert alert-danger" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.flashes("success") %}
        <div class="alert alert-success" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div id="mySidenav" class="sidenav">
        <a href="#" id="about">About</a>
        <a href="#" id="projects">Projects</a>
        <a href="#" id="contact">Contact</a>
    </div>

<div class="container-fluid">

    {#BLOCK BODY#}
    {% block body %} {% endblock %}

</div><!-- div.container -->


<!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/tinyurlmain/js/tabsTinyUrl.js') }}"></script>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/tinyurlmain/js/bootstrap.min.js') }}"></script>
    {% endblock javascripts %}
</body>

</html><!-- Fin du NIVEAU 1 -->


